.wrapper {
  width: 200px;
  background-color: #d9d9d9;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

a {
  cursor: pointer;
}
