/* You can add gl-obal styles to this file, and also import other style files */
@import "normalize.css";

$color: red;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  background-color: #27374d;
  height: 100%;
  width: 100%;
}
